<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }} - {{ site.name }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link href="//fonts.googleapis.com/css?family=Ubuntu+Mono:400italic,400,700italic,700" rel="stylesheet" type="text/css">

      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/pure-base-grids.css">
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/base.css" media="all" />

  </head>
  <body>
    <header class="pure-g-r">
      <h1 class="pure-u-1" id="siteTitle">Kyle Falconer Codes</h1>
      <nav class="social_links">
          <a href="//github.com/Kyle-Falconer" class="github" target="_blank"><img src="{{ site.baseurl }}/assets/img/GitHub-Mark-64px.png" alt="github"/></a>
          <a href="//stackoverflow.com/users/940217/netinept" class="stackoverflow" target="_blank"><img src="{{ site.baseurl }}/assets/img/so-icon.png" alt="stackoverflow"/></a>
          <a href="//www.linkedin.com/pub/kyle-falconer/b/291/312/" class="linkedin" target="_blank"><img src="{{ site.baseurl }}/assets/img/InBug-60px-TM.png" alt="LinkedIn"/></a>
          <a href="//twitter.com/pereclies" class="twitter" target="_blank"><img src="{{ site.baseurl }}/assets/img/Twitter_logo_blue.png" alt="twitter"/></a>
          <a href="//steamcommunity.com/profiles/76561197995071521/" class="steam" target="_blank"><img src="{{ site.baseurl }}/assets/img/Steam_logo.png" alt="steam"/></a>
          <a href="https://www.printables.com/@KyleFalconer" class="printables" target="_blank"><img src="{{ site.baseurl }}/assets/img/printables-192x192.png" alt="printables"/></a>
      </nav>
      <nav id="site_nav" class="pure-u-1">
        {% for item in site.data.pages.toc %}
          <a href="{{ item.url }}" class="{% if item.url == page.url %}selected{% endif %}">{{ item.page }}</a>
        {% endfor %}
      </nav>
    </header>
  
    {{ content }}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34751991-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
