<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }} - {{ site.name }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link href="//fonts.googleapis.com/css?family=Ubuntu+Mono:400italic,400,700italic,700" rel="stylesheet" type="text/css">

      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="http://www.kylefalconercodes.com/styles/pure-base-grids.css">
      <link rel="stylesheet" href="http://www.kylefalconercodes.com/styles/base.css" media="all" />



  </head>
  <body>
    <header class="pure-g-r">
      <h1 class="pure-u-1" id="siteTitle">Kyle Falconer Codes</h1>
      <nav class="social_links">
          <a href="//github.com/Kyle-Falconer" class="github" target="_blank"><img src="http://www.kylefalconercodes.com/images/GitHub-Mark-64px.png" alt="github"/></a>
          <a href="//stackoverflow.com/users/940217/netinept" class="stackoverflow" target="_blank"><img src="http://www.kylefalconercodes.com/images/so-icon.png" alt="stackoverflow"/></a>
          <a href="//www.linkedin.com/pub/kyle-falconer/b/291/312/" class="linkedin" target="_blank"><img src="http://www.kylefalconercodes.com/images/InBug-60px-TM.png" alt="LinkedIn"/></a>      
          <a href="//www.facebook.com/kfalconer" class="facebook" target="_blank"><img src="http://www.kylefalconercodes.com/images/FB-f-Logo__blue_72.png" alt="facebook"/></a>
          <a href="//twitter.com/pereclies" class="twitter" target="_blank"><img src="http://www.kylefalconercodes.com/images/Twitter_logo_blue.png" alt="twitter"/></a>
          <a href="//google.com/+KyleFalconer1" class="gplus" target="_blank"><img src="http://www.kylefalconercodes.com/images/gplus-64.png" alt="google plus"/></a>
          <a href="//steamcommunity.com/profiles/76561197995071521/" class="steam" target="_blank"><img src="http://www.kylefalconercodes.com/images/Steam_logo.png" alt="steam"/></a>
      </nav>
      <nav id="site_nav" class="pure-u-1">
          <a href="http://www.kylefalconercodes.com/index.html">home</a>
          <a href="http://www.kylefalconercodes.com/about.html">about</a>
          <a href="http://blog.kylefalconercodes.com/" class="selected">blog</a>
      </nav>
    </header>
  
    {{ content }}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34751991-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
