---
layout: default
---
<article class="pure-g-r post">
  <h1 class="pure-u-1">{{ page.title }}</h1>
  <span class="pure-u-1 meta">{{ page.date | date_to_string }}</span>
  <section class="pure-u-1">
    {{ content }}
  </section>
</article>

<article class="pure-g-r">
  <section class="pure-u-1 disqus">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'kylefalconercodes';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </section>
</article>