---
layout: top-level
---

<article class="pure-g-r project" itemscope itemtype="https://schema.org/TechArticle">
    <h2 class="pure-u-3-4" itemprop="name">{{ page.title }}</h2>
    <div class="pure-u-1-4 timeframe">
        <div class="float-wrapper">
            <img src="{{ site.baseurl }}/assets/img/calendar_month_FILL0_wght400_GRAD0_opsz24.svg" alt="timeframe"/>
            <span>{{page.project_timeframe}}</span>
        </div>
    </div>    
    
    <div class="pure-u-3-4">
        <div class="meta">
            <ul class="tags">
            {% for tag in page.tags %}
              <li>{{ tag }}</li>
            {% endfor %}
            </ul>
        </div>
        <section class="pure-u-1" itemprop="articleBody">
            {{ content }}
        </section>        
    </div>
 
    {%if page.feature_img %}
    <section class="pure-u-1-4 feature_img" itemprop="associatedMedia">
        <meta itemprop="contentUrl" content="{{ page.feature_img }}" />
        <img src="{{ site.baseurl }}/assets/img/{{ page.feature_img }}" alt="{{page.feature_img_alt}}" />
    </section>
    {% endif %}
</article>
  